.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Fira Sans, sans-serif;
  color: #383838;
  background-color: #f8f8f8;
}

a {
  color: #ff306e;
  text-decoration: none;
}

.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  transition: opacity 0.2s;
}

.cd-horizontal-timeline.loaded {
  opacity: 1;
}

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 500px;
  width: 99%;
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}

.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  height: 2px;
  background: #dfdfdf;
  transition: transform 0.4s;
}

.cd-horizontal-timeline .events a {
  position: absolute;
  z-index: 2;
  text-align: left;
  font-size: 1.3rem;
  padding-left: 0.5em;
  color: #383838;
  transform: translateZ(0);
}

.cd-horizontal-timeline .events a .time-content {
  float: left;
  max-width: 150px;
}

.cd-horizontal-timeline .events a h1 {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #ff306e;
}

.cd-horizontal-timeline .events a p {
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
}

.cd-horizontal-timeline .events a .link {
  margin-top: 0.5em;
  color: #ff306e;
}

.cd-horizontal-timeline .events a .link:hover {
  cursor: pointer;
  cursor: hand;
  color: #c9003c;
}

.cd-horizontal-timeline .events a .main-icon {
  float: left;
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
}

.cd-horizontal-timeline .events a img {
  max-width: 300px;
  max-height: 150px;
  border-radius: 3px;
  margin-top: 0.5em;
  clear: both;
  opacity: 0.3;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}

.cd-horizontal-timeline .events a.selected p {
  color: rgba(0, 0, 0, 0.8);
}

.cd-horizontal-timeline .events a.selected .main-icon {
  color: rgba(0, 0, 0, 0.8);
}

.cd-horizontal-timeline .events a.selected img {
  opacity: 1;
}

.cd-horizontal-timeline .events a:hover p {
  color: rgba(0, 0, 0, 0.8);
}

.cd-horizontal-timeline .events a:hover .main-icon {
  color: rgba(0, 0, 0, 0.8);
}

.cd-horizontal-timeline .events a:hover img {
  opacity: 1;
}

.cd-horizontal-timeline .events a.selected::before {
  background-color: #ff306e;
  transition: background-color 0.3s 0.3s;
}

.cd-horizontal-timeline .events a.selected::after {
  background-color: #ff306e;
  border-color: #ff306e;
}

.cd-horizontal-timeline .events a.older-event::after {
  border-color: #ff306e;
}

.cd-horizontal-timeline .events li:nth-child(odd) a {
  bottom: 0;
  padding-bottom: 15px;
}

.cd-horizontal-timeline .events li:nth-child(odd) a::after {
  bottom: -5px;
}

.cd-horizontal-timeline .events li:nth-child(even) a {
  top: 0;
  padding-top: 15px;
}

.cd-horizontal-timeline .events li:nth-child(even) a::after {
  top: -5px;
}

.cd-horizontal-timeline .events a::before {
  content: " ";
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 2px;
  transition: background-color 0.3s;
}

.cd-horizontal-timeline .events a::after {
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  transform: translateX(-50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  transition: background-color 0.3s, border-color 0.3s;
}

.cd-horizontal-timeline .filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ff306e;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s;
}

.cd-horizontal-timeline .events-content {
  display: none;
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right {
  animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.leave-right {
  animation-name: cd-enter-right;
  animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li.enter-left {
  animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-left {
  animation-name: cd-enter-left;
  animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: Playfair Display, serif;
  font-weight: 700;
  line-height: 1.2;
}

.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
  line-height: 1.6;
}

.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}

.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
  line-height: 1.6;
}

.cd-horizontal-timeline::before {
  content: 'mobile';
  display: none;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #ff306e;
  border-color: #ff306e;
}

.no-touch .cd-timeline-navigation a:hover {
  border-color: #ff306e;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 251px;
  bottom: auto;
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  transition: border-color 0.3s, opacity 0.3s;
}

.cd-timeline-navigation a.prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next {
  right: 0;
}

.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}

.cd-timeline-navigation a::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}

@media only screen and (max-device-width: 667px) {
  .cd-horizontal-timeline .events-wrapper::after {
    content: '';
    width: 0;
  }
  .cd-horizontal-timeline .events-wrapper::before {
    content: '';
    width: 0;
  }
  .cd-horizontal-timeline .events-wrapper {
    margin: 0;
  }
  .cd-timeline-navigation a {
    box-shadow: 0 0 0 2px white;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .cd-timeline-navigation a.inactive {
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}